aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
dataclasses-json
distro
frozenlist
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
idna
iniconfig
Jinja2
jiter
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-pinecone
langchain-tests
langchain-text-splitters
langchainhub
langsmith
markdown-it-py
MarkupSafe
marshmallow
mdurl
multidict
mypy-extensions
narwhals
numpy
openai
orjson
packaging
pandas
pillow
pinecone
pinecone-plugin-inference
pinecone-plugin-interface
pluggy
propcache
protobuf=3.20.0.
pyarrow
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pypdf
pytest
pytest-asyncio
pytest-socket
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
six
smmap
sniffio
SQLAlchemy
streamlit=1.25.0
syrupy
tenacity
tiktoken
toml
tornado
tqdm
types-requests
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
yarl
zstandard
pdfplumber
